
/*Body Header CSS styles*/
#body-header{
  height: 65vh;
  background-image:url('https://www.pngkey.com/png/detail/26-265382_light-shade-white-background-with-yellow-circle.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.the_lists{
  text-align: center;
  list-style: none;
  padding-left: 0px;
  margin-top: 5px;
  font-size: 30px;
}

.the_lists li{
  display: inline-block;
  margin: 0px 8px 8px 0px;
  padding: 0px 10px 10px 0;



}

.the_lists li a{
  color:black;
  text-decoration: none;
  transition: color 0.5s;
  margin: 10px;

}

.the_lists li a:hover{
  color:grey;
  border-bottom: 1px solid black;
}

.the_lists li a img{
  height:2vw;
  width:3vh;
  border:2px solid black;
  padding:3px;
  margin:10px;
  border-radius: 100%;
}




#myname{
  color: black;
  text-align:center;
  font-size: 100px;
  margin: 50px 0px 0px 50px;
}



/* --> Main Section  */

#myimage{
  text-align: center;
}

#myimage img{
  height:30vh;
  width:15vw;
  position: relative;
  top:-70px;
  image-orientation: center;
  border-radius: 100px;
}






/*Sections*/

/*1) Education Section*/

#Education h1{
  font-size:60px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  text-align:center;
}



#edu1{
  width:30%;
  height:300px;
  border: 2px solid black;
  font-size: 25px;
  border-radius:30px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin-right: 33%;
  margin-bottom: 20px;
  }




#edu2{
  width:30%;
  height:300px;
  border: 2px solid black;
  font-size: 25px;
  border-radius:30px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 20px;
 

}



