
/*Body Header CSS styles*/
#body-header{
  height: 65vh;
  background-image:url('https://www.pngkey.com/png/detail/26-265382_light-shade-white-background-with-yellow-circle.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.the_lists{
  text-align: center;
  list-style: none;
  padding-left: 0px;
  margin-top: 5px;
  font-size: 30px;
}

.the_lists li{
  display: inline-block;
  margin: 0px 8px 8px 0px;
  padding: 0px 10px 10px 0;



}

.the_lists li a{
  color:black;
  text-decoration: none;
  transition: color 0.5s;
  margin: 10px;

}

.the_lists li a:hover{
  color:grey;
  border-bottom: 1px solid black;
}

.the_lists li a img{
  height:2vw;
  width:3vh;
  border:2px solid black;
  padding:3px;
  margin:10px;
  border-radius: 100%;
}




#myname{
  color: black;
  text-align:center;
  font-size: 100px;
  margin: 50px 0px 0px 50px;
}



/* --> Main Section  */

#myimage{
  text-align: center;
}

#myimage img{
  height:30vh;
  width:15vw;
  position: relative;
  top:-70px;
  image-orientation: center;
  border-radius: 100px;
}






/*Sections*/


/* General rules for sections */
section{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  /*height:auto;*/
}

section:nth-child(2n){
  background-color: white;
}
section:nth-child(2n+1){
  background-color: lightgrey;
}

.section-heading{
  width:auto;
  padding: 20px 10px 10px;
  margin: 10px auto;
  font-size: 200%;
  border-bottom:2px solid black;
  box-shadow: 3px 3px 3px 3px black;

  

}



.mb75px{
  margin-bottom: 75px;
}


/*1) Education Section*/

#edu{
  height:auto;
  width:100vw;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  
  }

#edu div{
  width: 40vw;
  margin-right: 5px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 4px 4px 4px 0px grey;
  
}

#edu1{
  border: 2px solid black;
  font-size: 150%;
  border-radius:30px;
  text-align: center;
  
  font-weight: bold;
  /*flex-grow: 1;*/
  }

#edu2{
  
  border: 2px solid black;
  font-size: 150%;
  border-radius:30px;
  text-align: center;
  
  font-weight: bold;
  /*flex-grow: 1;*/
  
 

}


#edu3{
  
  border: 2px solid black;
  font-size: 150%;
  border-radius:30px;
  text-align: center;
  
  font-weight: bold;
  
  
 

}

#edu4{
  
  border: 2px solid black;
  font-size: 150%;
  border-radius:30px;
  text-align: center;
  font-weight: bold;
  
  
 }

 /*Skills Section*/




 #skills-display{
  width:70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left:10px;
  margin-right: 10px;
  
 }

 .skill-progress{
  width:14rem;
  height:1.8rem;
  background-color: white;
  border-radius:0.8rem;
  margin:10px;

  
 }

/*To apply the CSS rule only to the div which is the direct child of the mentioned class*/
 .skill-progress>div{
  border-radius: 20px 0px 0px 20px;

 }

 .skill-name span{
  color:white;
  font-size: 0.8rem;
  margin-left: 10px;
 }

.mb-blue{
  background-color: blue;
}

.mb-green{
  background-color: green;
}

.mb-brown{
  background-color: brown;
}

.mb-orange{
  background-color: orange;
}

.mb-red{
  background-color: red;
}

.mb-purple{
  background-color: purple;
}

.mb-black{
  background-color: black;
}


.seventy-five-percent{
  width:75%;
  height: inherit;
}

.eighty-percent{
  width:80%;
  height: inherit;
}

.sixty-percent{
  width:60%;
  height: inherit;
}





